body {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blocker {
  width: 520px;
  height: 520px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.cir {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 1;
}

.redChip {
  background-image: url(/assets/redChip.png);
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: MOVE;
  animation-duration: 0.8s;
  z-index: -1;
}


@keyframes MOVE {
  from {
    transform: translateY(-800%);
  }
  to {
    transform: translateY(0);
  }
}

.yellowChip {
  background-image: url(/assets/yellowChip.png);
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: MOVE;
  animation-duration: 0.5s;
  z-index: -1;
}
